/* CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #333333;
    color: #ffffff;
}
.table-container {
    overflow-x: auto;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
th,
td {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
    color: #495057;
}
tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}
tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
.h2 {
    text-align: center;
}
.my-button {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #191b1d; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
@media screen and (max-width: 600px) {
    .navbar a {
     
        display: block;
        text-align: left;
    }
    .navbar {
        overflow: hidden;
    }
}
