
      
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
    }
    .navbar {
        background-color: #000000;
        overflow: hidden;
    }
    .navbar a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    .navbar a:hover {
        background-color: #333333;
        color: #ffffff;
    }
      .container {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="date"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button[type="submit"],
        .btn-secondary {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        .btn-secondary {
            background-color: #6c757d;
        }

        button[type="submit"]:hover,
        .btn-secondary:hover {
            background-color: #0056b3;
        }
        .butt{
            aling

        }