body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #333333;
    color: #ffffff;
}
.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #000000; /* Negro */
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    width: 100%;
    padding: 8px; 
    margin-bottom: 15px;
    box-sizing: border-box;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #000000; /* Negro */
    color: #ffffff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #333333; /* Negro oscuro */
}
.btn{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #191b1d; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
