body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #333333;
    color: #ffffff;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
    color: #495057;
}
tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}
tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
.btn-group {
    display: flex;
    justify-content: center;
}
.btn {
    margin: 0 2px;
}

.h2{
    text-align: center;
}